*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.logoimg{
  height:90px;
  width: 90px;
}
.homeimg{
  width: 100%;
  height:400px;
}
.marinoimg{
  width:100%;
  height:350px;
}
.pepimg{
width:50vw;
 height:350px;
}
.text-danger{
  font-family:Lucida Handwriting;
  font-size:25px;
}
.pasta-1{
  height: 300px;
  margin-right: 10px;
}
.pasta-2{
  height: 300px;
  width:35vw;
}
.pasta-3{
  height: 300px;
  margin-left: 10px;
}